.mdl-grid {
    max-width: 600px;
}
.mdl-card__media {
    margin: 0;
}
.mdl-card__media > img {
    max-width: 100%;
}
.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.card {
	max-width: 85%;
	border-style: outset;
	border-width: 5px;
	border-color: black;
	position: center;
}

.thumbnail > .card {
	height: 100%;
	position: relative;
	float: left;
}
.info > .card {
	float: right;
	position: absolute;
	top: 0px;
}